{% extends "document.twig" %}

{% block title %}User Information Lookup{% endblock %}

{% block content %}
<div class="col-md-12">
    <!-- User Name -->
    <div class="page-header">
        <h4>User Lookup</h4>
        <h1>
            {{ user.name|e }}
          <small>
              <a href="{{ alpha_domain ~ user.username }}" target="_blank">
                  @{{ user.username }}
              </a>
          </small>
        </h1>
    </div>

    <!--Avatar Image-->
    <img class="avatar" src="{{ user.avatar_image.url }}?h=180" alt="avatar">

    <!--Cover Image-->
    <div class="cover">
        <img class="cover" src="{{ user.cover_image.url }}?h=180" alt="cover">
    </div>

    <br><br>

    <!--Search Box-->
    <div class="row">
        <form role="form" class="form-inline">
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="id" id="id" value="{{ user.username }}">
                    <span class="input-group-btn">
                        <button type="submit" name="send" id="send" class="btn btn-primary">Check</button>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <br>

    {# bio #}
    <p class="bio">
        {% autoescape false %}
            {{ user.htmlBio|default("<i>This user has got no bio set</i>") }}
        {% endautoescape %}
    </p>
</div>

<div class="col-md-6">
    <!--Info-->
    <table class="table table-condensed">
        <tr>
            <td><h4>ADN Data</h4></td>
            <td></td>
        </tr>
        <tr>
            <td>Posts:</td>
            <td>
                <a class="url" href="{{ alpha_domain ~ user.username }}/" target="_blank">
                    {{ user.counts.posts }}
                </a>
                <i>(average {{ (user.counts.posts / user.timeSinceCreated.days)|round(2) }} per day)</i>
            </td>
        </tr>
        <tr>
            <td>Starred:</td>
            <td>
                <a class="url" href="{{ alpha_domain ~ user.username}}/stars/" target="_blank">
                    {{ user.counts.stars }}
                </a>
                <i>(average {{ (user.counts.stars / user.timeSinceCreated.days)|round(2) }} per day)</i>
            </td>
        </tr>

        <tr>
            <td>Following:</td>
            <td>
                <a class="url" href="{{ alpha_domain ~ user.username }}/following" target="_blank">
                    {{ user.counts.following }}
                </a>
                {% if user.username is not same as(user_handle()) %}
                    <i>({% if user.follows_you %}follows you{% else %}does not follow you{% endif %})</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Followers:</td>
            <td>
                <a class="url" href="{{ alpha_domain ~ user.username }}/followers/" target="_blank">
                    {{ user.counts.followers }}
                </a>
                {% if user.username is not same as(user_handle()) %}
                    <i>({% if user.you_follow %}you follow{% else %}you don't follow{% endif %})</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Account Type:</td>
            <td>{{ user.type|capitalize }}</td>
        </tr>
        <tr>
            <td>Time-zone:</td>
            <td>{{ user.timezone }}</td>
        </tr>
        <tr>
            <td>Language:</td>
            <td>{{ user.locale }}</td>
        </tr>
        <tr>
            <td>User Number:</td>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <td>Joined:</td>
            <td>
                {{ user.createdAt.format("jS F Y") }}
                <i>({{ user.humanFriendlyTimeSinceCreated() }} ago)</i>
            </td>
        </tr>

        {# verified stuff #}
        {% set did_display_annotations = false %}
        {% if user.verified_link and user.annotations %}
            <tr>
                <td><h4>User Data</h4></td>
                <td></td>
            </tr>

            {% if user.verified_link %}
                {% set did_display_annotations = true %}
                <tr>
                    <td>Verified Domain:</td>
                    <td>
                        <a href="{{ user.verified_link }}" target="_blank">
                            {{ user.verified_domain }}
                        </a>
                    </td>
                </tr>
            {% endif %}

            {% for annotation in user.annotations %}
                {% if "core.directory.blog" in annotation.type %}
                    {% set did_display_annotations = true %}
                    <tr>
                        <td>Blog:</td>
                        <td>
                            <a href="{{ annotation.value.url }}" target="_blank">
                                {{ annotation.value.url|host_name }}
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% for annotation in user.annotations %}
                {% if "core.directory.facebook" in annotation.type %}
                    {% set did_display_annotations = true %}
                    <tr>
                        <td>Facebook:</td>
                        <td>
                            <a href="https://facebook.com/{{ annotation.value.id }}" target="_blank">
                                {{ annotation.value.id }}
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% for annotation in user.annotations %}
                {% if "core.directory.twitter" in annotation.type %}
                    {% set did_display_annotations = true %}
                    <tr>
                        <td>Twitter:</td>
                        <td>
                            <a href="https://twitter.com/{{ annotation.value.username }}" target="_blank">
                                @{{ annotation.value.username }}
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% for annotation in user.annotations %}
                {% if "appnetizens.userinput.gender" in annotation.type %}
                    {% set did_display_annotations = true %}
                    <tr>
                        <td>Gender:</td>
                        <td>{{ annotations.value.gender|capitalize }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% for annotation in user.annotations %}
                {% if "appnetizens.userinput.birthday" in annotation.type %}
                    {% set did_display_annotations = true %}
                    <tr>
                        <td>Birthday:</td>
                        <td>{{ birthdate.birthdayDateConverstion(annotations.value.birthday) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% if not did_display_annotations %}
                <tr>
                    <td>Oops!</td>
                    <td>
                        We don't display all user annotations.
                        <br>
                        That's why there's nothing here.
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
</div>

<div class="col-md-6">
    <table class="table table-condensed">
        {% if user.username is not same as(user_handle()) %}
            <tr>
                <td><h4>Hiding</h4></td>
                <td></td>
            <tr>
                <td>Muted:</td>
                <td>
                    {{ user.you_muted ? "Yes" : "No" }}
                </td>
            </tr>
        {% endif %}

        {% if user.counts.posts > 0 %}
            <tr>
                <td><h4>Post Data</h4></td>
                <td></td>
            </tr>

            <tr>
                <td>First Post:</td>
                <td>
                    <a data-toggle="modal" data-target="#FPModal">
                        {{ first_post.created_at|date("jS F Y") }}
                    </a>
                </td>
            </tr>

            {% if first_mention %}
                <tr>
                    <td>First Mention:</td>
                    <td>
                        <a data-toggle="modal" data-target="#FMModal">
                            {{ first_mention.created_at|date("jS F Y") }}
                        </a>
                        <i>
                            (by
                            <a href="{{ alpha_domain ~ first_mention.user.username }}" target="_blank">
                                @{{ first_mention.user.username }}
                            </a>
                            )
                        </i>
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td>Last Post:</td>
                <td>
                    <a data-toggle="modal" data-target="#LPModal">
                        {{ last_post.humanFriendlyTimeSinceCreated() }} ago
                    </a>
                </td>
            </tr>

            {% if last_mention %}
                <tr>
                    <td>Last Mention:</td>
                    <td>
                        <a data-toggle="modal" data-target="#LMModal">
                            {{ last_mention.humanFriendlyTimeSinceCreated() }} ago
                        </a>
                        <i>
                            (by
                            <a href="{{ alpha_domain ~ last_mention.user.username }}" target='_blank'>
                                @{{ last_mention.user.username }}
                            </a>
                            )
                        </i>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        {# end the post count > 0 conditional #}

        {% if nice_rank %}
            <tr>
                <td><h4>Statistics</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Rank:</td>
                <td>{{ nice_rank.rank }}</td>
            </tr>
            <tr>
                <td>Real Person:</td>
                <td>
                    {{ nice_rank.account.is_human ? "Yes" : "No" }}
                </td>
            </tr>
            <tr>
                <td>Past 28 days:</td>
                <td>
                    <a data-toggle="modal" data-target="#28DaysModal">
                        Show Statistics
                    </a>
                </td>
            </tr>
        {% endif %}

        {% if user.username is not same as(user_handle()) %}
            <tr>
                <td><h4>Spam User Check</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Spam User:</td>
                <td>
                    {% set posts_per_day = (user.counts.posts / user.timeSinceCreated().days)|round(2) %}
                    {{ posts_per_day < 200 ? "No" : "Yes" }}
                </td>
            </tr>
            {% if posts_per_day >= 200 %}
                <tr>
                    <td>Correctly Marked:</td>
                    <td>
                        {% if user.type is same as("human") %}
                            No (marked as human)
                        {% elseif user.type is same as("feed") %}
                            Yes (marked as a feed)
                        {% elseif user.type is same as("bot") %}
                            Yes (marked as a bot)
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}

        {% if user.clubs.memberClubs and user.type is same as("human") %}
            <tr>
                <td><h4>User PCA Clubs</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Most Recent:</td>
                <td>
                    {% autoescape false %}
                        {{ (user.clubs.memberClubs|last).html() }}
                    {% endautoescape %}
                </td>
            </tr>
            <tr>
                <td>Number of Clubs:</td>
                <td>
                    {{ user.clubs.memberClubs|length }} - <a data-toggle="modal" data-target="#PCAModal">Show All Clubs</a>
                </td>
            </tr>
            <tr>
                <td>Next Club:</td>
                <td>
                    {% autoescape false %}
                        {{ (user.clubs.nextClubs|first).html() }}
                    {% endautoescape %}
                </td>
            </tr>
            <tr>
                <td>
                    <a href='http://appdotnetwiki.net/w/index.php?title=Post_Count_Achievements' target='_blank'>
                        More info on PCA clubs
                    </a>
                </td>
                <td></td>
            </tr>
        {% endif %}

    </table>
</div>

<!-- First Post Modal -->
<div class="modal fade" id="FPModal" tabindex="-1" role="dialog" aria-labelledby="FPModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="FPModal">@{{ user.username }}'s First Post</h4>
            </div>

            <div class="modal-body">
                <blockquote>
                    {% autoescape false %}
                        {{ first_post.html() }}
                    {% endautoescape %}
                </blockquote>
                <br>
                <table class="table table-condensed">
                    <tr>
                        <td class="ui-helper-center">
                            <i class="fa fa-star"></i>
                            {{ first_post.num_stars }} stars
                        </td>
                        <td class="ui-helper-center">
                            <i class="fa fa-reply"></i>
                            {{ first_post.num_replies }} replies
                        </td>
                        <td class="ui-helper-center">
                            <i class="fa fa-retweet"></i>
                            {{ first_post.num_reposts }} reposts
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <a class="btn" href="{{ alpha_domain ~ first_post.user.username}}/posts/{{ first_post.id }}" target="_blank">
                    View on Alpha
                </a>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- First Mention Modal -->
<div class="modal fade" id="FMModal" tabindex="-1" role="dialog" aria-labelledby="FMModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="FMModal">@{{ user.username }}'s First Mention</h4>
            </div>
            <div class="modal-body">
                <blockquote>
                    {% autoescape false %}
                        {{ first_mention.html() }}
                    {% endautoescape %}
                </blockquote>
                <br>
                <table class="table table-condensed">
                    <tr>
                        <td class="ui-helper-center">
                            <i class="fa fa-star"></i>
                            {{ first_mention.num_stars}} stars
                        </td>
                        <td class="ui-helper-center">
                            <i class="fa fa-reply"></i>
                            {{ first_mention.num_replies}} replies
                        </td>
                        <td class="ui-helper-center">
                            <i class="fa fa-retweet"></i>
                            {{ first_mention.num_reposts }} reposts
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <a class="btn" href="{{ alpha_domain ~ first_mention.user.username }}/post/{{ first_mention.id }}" target="_blank">
                    View on Alpha
                </a>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Last Post Modal -->
<div class="modal fade" id="LPModal" tabindex="-1" role="dialog" aria-labelledby="LPModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="LPModal">@{{ user.username }}'s Last Post</h4>
            </div>
            <div class="modal-body">
                <blockquote>
                    {% autoescape false %}
                        {{ last_post.html() }}
                    {% endautoescape %}
                </blockquote>
                <br>
                <table class="table table-condensed">
                    <tr>
                        <td class="ui-helper-center">
                            <i class="fa fa-star"></i>
                            {{ last_post.num_stars }} stars
                        </td>
                        <td class="ui-helper-center">
                            <i class="fa fa-reply"></i>
                            {{ last_post.num_replies }} replies
                        </td>
                        <td class="ui-helper-center">
                            <i class="fa fa-retweet"></i>
                            {{ last_post.num_reposts }} reposts
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn" href="{{ alpha_domain ~ last_post.user.username }}/post/{{ last_post.id }}" target="_blank">
                    View on Alpha
                </a>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Last Mention Modal -->
<div class="modal fade" id="LMModal" tabindex="-1" role="dialog" aria-labelledby="LMModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="LMModal">@{{ user.username }}'s Last Mention</h4>
            </div>
            <div class="modal-body">
                <blockquote>
                    {% autoescape false %}
                        {{ last_mention.html() }}
                    {% endautoescape %}
                </blockquote>
                <br>
                <table class="table table-condensed">
                    <tr>
                        <td class="ui-helper-center">
                            <i class="fa fa-star"></i>
                            {{ last_mention.num_stars }} stars
                        </td>
                        <td class="ui-helper-center">
                            <i class="fa fa-reply"></i>
                            {{ last_mention.num_replies }} replies
                        </td>
                        <td class="ui-helper-center">
                            <i class="fa fa-retweet"></i>
                            {{ last_mention.num_reposts }} reposts
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <a class="btn" href="{{ alpha_domain ~ last_mention.user.username }}/post/{{ last_mention.id }}" target="_blank">
                    View on Alpha
                </a>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- PCA Modal -->
<div class="modal fade" id="PCAModal" tabindex="-1" role="dialog" aria-labelledby="PCAModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="PCAModal">User's PCA Clubs</h4>
            </div>
            <div class="modal-body">
                <ul class='list-unstyled'>
                    {% autoescape false %}
                        {% for club in user.clubs.memberclubs %}
                            <li>{{ club.html() }}</li>
                        {% endfor %}
                    {% endautoescape %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Past 28 Days Modal -->
<div class="modal fade" id="28DaysModal" tabindex="-1" role="dialog" aria-labelledby="28DaysModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="28DaysModal">Statistics For Last 28 Days</h4>
            </div>
            <div class="modal-body">
                <p>
                    These statistics are gathered from Jason Irwin's
                    <a href="http://jasonirwin.ca/2014/05/14/thinking-about-nicerank/" target="_blank">
                        NiceRank</a>.
                </p>
                <table class="table table-condensed">
                    {#
                    <tr>
                        <td>Robot Posts:</td>
                        <td>{{ nice_rank.stats.robo_posts }}</td>
                    </tr>
                    #}
                    <tr>
                        <td>Posts:</td>
                        <td>{{ nice_rank.stats.post_count }}</td>
                    </tr>
                    <tr>
                        <td>Conversations:</td>
                        <td>{{ nice_rank.stats.conversations }}</td>
                    </tr>
                    <tr>
                        <td>Links:</td>
                        <td>{{ nice_rank.stats.links }}</td>
                    </tr>
                    <tr>
                        <td>Mentions:</td>
                        <td>{{ nice_rank.stats.mentions }}</td>
                    </tr>
                    <tr>
                        <td>Questions:</td>
                        <td>{{ nice_rank.stats.questions }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
