<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url("index") }}">Purplapp</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url("account") }}"><i class="fa fa-user fa-fw"></i>Account Tools</a></li>
                <li><a href="{{ url("broadcast") }}"><i class="fa fa-bolt fa-fw"></i>Broadcast Tools</a></li>
                <li><a href="{{ url("donate") }}"><i class="fa fa-bitcoin fa-fw"></i>Donate</a></li>
                <li><a href="{{ url("about") }}"><i class="fa fa-info fa-fw"></i>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% include is_guest() ? "unauth_menu.twig" : "auth_menu.twig" %}
            </ul>
        </div>
    </div>
</div>

